[Unit]
Description=Milter to check some headers (From, Subject, Date, Message-ID, ...)
After=network.target

[Service]
Type=simple
DynamicUser=yes
ExecStart=/usr/local/sbin/mailheadercheck
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
