[Unit]
Description=Milter to check some headers (From, Subject, Date)
After=network.target

[Service]
Type=simple
User=milter
Group=milter
ExecStart=/usr/local/sbin/mailheadercheck --action accept

[Install]
WantedBy=multi-user.target
